<h2>Step 3/3: </h2>

<p>Almost there! Visit

<%if @email_url != nil%>
	<%= link_to "your email", @email_url%>
<%else%>
	your email
<%end%> 

to confirm your account and complete your registration!

</p>

<%= link_to "Home", root_path %>