$('.joinrequest_error').hide();

<% if @request_made == true %>
$('#new_joinrequest').after('<br/> <h3>Request to join project sent </h3>');
$('.new_joinrequest').hide();

<%else%>

$('.new_joinrequest').before('<p class="joinrequest_error"><%= j "Message must be between 10 and 250 characters" %></p>');

<%end%>
