
<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
</head>  
<body>
	<h3>This email was sent to you as a password reset request for Ideagarden. </h3>
	<p> If you've received this email in error, please ignore it. Otherwise, to reset your password, click the link below: <br/>   
	</p>    
	<p> Reset Link: <%= load_pw_reset_url(@user.reset_code) %>. </p>
</body>
</html>