
<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
</head>  
<body>
	<h1>Welcome to Ideagarden, <%= @user.profile.name %></h1>
	<p> You're now a member of Ideagarden! 
		To confirm your registration, please follow the link below: <br/>   
	</p>    
	<p> Confirmation Link: <%= link_to user_confirmation_path(@user.confirmation_code) %>. </p>
</body>
</html>