
<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
</head>  
<body>
	<h3>Welcome to Ideagarden, <%= @user.profile.name%></h3> <br/> <br/> 
	<p> 
		To confirm your registration, please follow the link below: <br/>   
	</p>    
	<p> Confirmation Link: <%= user_confirmation_url(@user.confirmation_code) %> </p>
</body>
</html>