<%= div_for feedback do %>
  <p>Name: <%= link_to feedback.user.profile.name, user_profiles_url(feedback.user) %></p>
  <p>Body: <%= feedback.body %></p>
  <p>------------------------------</p>
<% end %>
