<%= div_for private_message do |message| %>
	<div> <h3> <%= "Message from "+User.find(message.user_id).profile.name%> </h3></div>
	<div class = "message_content"> <%= simple_format(message.body) %> <br/> </div>
	<%= link_to "Delete", private_message_path(message.id), method: :delete%>
<%end%>