


<%if @email_url != nil%>
<p>
Please confirm your email to complete your registration: <br/>
<%= link_to "Inbox", @email_url%>
</p>
<%end%>


<h1 id="index_heading">Idea Postings</h1> 
<%= render "form"%>


<div id="index_posting_list">
<%= render partial: "idea_posting_list", :locals => {:idea_postings => @idea_postings, :index => true}%>
</div>

  
