

$('#feedback_<%=@feedback.id%>').each(function(){

	var container = $(this).parent('.feedback_content_container');
	var container_height = container.height();
	
	var topic_div = $(this).parents('.topic');
	var topic_div_height = topic_div.height();
	var root_feedback_div = topic_div.parent('.feedback');
	var root_feedback_div_height = root_feedback_div.height();
	
	var feedback_height=$(this).height();		
	
	topic_div.height(topic_div_height+386);
	root_feedback_div.height(root_feedback_div_height+386);	
	
	$(this).height(feedback_height+386);

	
	/* var topic_div = $(this).parents('.topic');
	* var root_feedback_div = topic_div.parent('.feedback');
	* root_feedback_div.height(self.height()+386);	
	* container.height(container_height+386);
	*
	*/
	
});

$('#feedback_<%=@feedback.id%> >>> .reply_link').after('<div class = "reply_form"><br/><%= j render('form')%></div>'); 

 
/* form is inserted after link to allow it to remain within the div for the parent feedback
 * this makes it possible to hide only the form that is submitted in create_reply.js.erb
 * (e.g. if the user has two forms open to reply to two different parent feedbacks, he can submit one form without hiding the other)
 */ 
 
$('#feedback_<%=@feedback.id%> >>> .reply_link').css("color", 'grey').bind('click', false);







