/* feedback */

.feedback {
  clear: both;  
}

.feedback_content {
  float: left;
  margin-left: 10px;
}

.followed_feedback.feedback_content_container {
  background-color: rgb(183,213,121);  
	
}
/* feedback help rating */

.feedback_help * {
  float: left; 
}

/* highlighting for followed users' feedback */

.followed_feedback {
  clear: both;
}

.followed_feedback > div.feedback_content {
  	font-weight: bold;
  }
  
.feedback_content > a:active {
	COLOR: #000000;
}

.feedback_content > a:visited {
	COLOR: #000000;
}

.reply {
    position: relative;
    left: 50px;    
}

.topic {
   position: relative;
}