/* feedback */

.feedback {
  clear: both;  
  padding-top:10px;
}

.feedback_content {
  float: left;
  margin-left: 10px;
}

.followed_feedback.feedback_content_container {
  background-color: rgb(183,213,121);  
	
}
/* feedback help rating */

.feedback_help * {
  float: left; 
}

/* highlighting for followed users' feedback */

.followed_feedback {
  clear: both;
}

.followed_feedback > div.feedback_content {
  	font-weight: bold;
  }
  
.feedback_content > a {
	COLOR: #000000;
	font-weight: bold;
	text-decoration: none;	
}

.reply_link, .edit_link, .delete_link, .profile_link {

	font-weight: bold;
	COLOR: #000000;
}

.reply {
    position: relative;
    padding-left:10px;

}

.feedback_error{
	position:relative;
}
.topic {
   position: relative;
}

.child_feedbacks {
	border-left: 2px solid rgb(183,213,121);
	position:relative;
	left:30px;
	
}

.cancel_reply_button {
	float:left;
}

.submit_reply {
	float:left;
}

a:hover{
	color: gray;
}

table td.shrink {
    white-space:nowrap
}

table td.expand {
    width: 99%
}
