/* feedback */

.feedback {
  clear: both;
}

.feedback_content {
  float: left;
  margin-left: 10px;
}

/* feedback help rating */

.feedback_help * {
  float: left; 
}

/* highlighting for followed users' feedback */

.followed_feedback {
  background-color: rgb(149,192,61);
  clear: both;
}

.followed_feedback > div.feedback_content {
  	font-weight: bold;
  }
  
.feedback_content > a:active {
	COLOR: #000000;
}

.feedback_content > a:visited {
	COLOR: #000000;
}
