/* general div */


a{
	text-decoration:none;
	// color:black;
}

a:hover{
	text-decoration:none;
}
.idea_posting {
  clear: both;
}

#index_heading{
	margin-left: 280px;
}

.checkbox_horizontal, .checkbox_horizontal > *{
	display: inline;
}

.feedback{
  overflow: hidden;
  
}


.feedback_content{
  width:495px;
  word-wrap:break-word;
  clear:both;
  
}

.followed_feedback {
  clear: both;

}




.feedback_content_container{
  overflow:hidden;
	
}

.followed_feedback .feedback_content_container {
  background-color: rgb(183, 213, 121);
}

/* pale green (modified from amy's logo): rgb(183,213,121)*/
/* normal green (from amy's logo): rgb(149,192,61) */


/* idea_posting voting */

.voting {
  float: left;
  text-align: center;
  margin-right: 10px;
  margin-top: -15px;
}

.vote_button {
  border: none;
  background-color: transparent;
  font-size: 25px;
  text-align: center;
  padding: 0px;
  color: #333;

}

input.vote_button{
  width: 30px;
  height: 30px;	
}

.upvote_button:hover {
  background-color: #333;
  color:#FFF;
}

.unvote_button {
  background-color: #333;
  color:#FFF;
}

.unvote_button:hover {
  background-color: transparent;
  color: #333;
}


.potential {
  margin-top:10px; 
  font-size: 20px;
}


/* idea_posting details */

h1 {
  margin-bottom: 20px;
}

.posting {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #BBB;
  width: 90%;
  float: left;
  position: relative;
  height: 140px;

}

.posting > div {
  float: left;

}

.thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid #BBB;
  padding: 0px;
}

.thumbnail > img{
  height: 100px;
  width: 100px;
  border-radius: 10px;	
}

.idea_posting_picture{
  height: 100px;
  width: 100px;
}

.brief {
  position: absolute; /* brief is positioned with respect to 'class=posting' div, which holds posting text content */
  left: 150px;
  top: -15px;

}

.pitch > p {
  min-height: 0px;
  word-wrap: break-word;
  width: 445px;
  display: inline;

}


.pitch {
  font-size: 14px;
  min-height: 0px;
  word-wrap: break-word;
  width: 445px;
  margin-top: 10px;
  font-weight: bold;
}

.state > p {
  min-height: 0px;
  word-wrap: break-word;
  width: 445px;
}


.state {
  min-height: 0px;
  word-wrap: break-word;
  width: 445px;
}

.title, .owners {
  display: inline
}

.title, .title > * {
  font-size: 18px;
  color: #42b2e6;
  text-decoration: none;
}

.title:hover, .title > *:hover {
  color: #0092D6;
}

.owners {
  margin-left: 7px;
}

.owners, .owners > * {
  text-decoration: none;
  color: #333;
}

.owners > a:hover {
  color: #90bf3c;
}

.tags {
  font-size: 14px;	
  font-weight: bold;
  margin-left: -3px;
}

/* Styles for idea_postings/show */
.posting_details a{
	color:black;
}

.posting_details a:hover {
	color:gray;
}

.modification_links {
	font-weight:bold;
	font-size:15px;
}




