.decision {
	float:left;
	padding-right: 20px;
	vertical-align:baseline;
}

.request_content {
	float:left;
	vertical-align:top;
	margin-bottom: 20px;
	
}

.request {
	margin-top: 30px;
	float:left;
  	border-bottom: 1px solid #BBB;
    width: 80%;		
    
}

.joinrequest {
	clear:both;
}

.message {
	width:445px;
	word-wrap:break-word;
}

.decision > a{
	width: 80px;
}
