
	
.new_session{
	position:absolute;
	background-color: #F1F1F1;
	z-index: 1;
	border: 1px solid #BBBBBB;
	padding: 25px;
	border-top: none;
	padding: 40px;
	padding-top: 0px;
	padding-left: 20px;
	width: 200px;

	
}

.new_session >> *{
	width: 200px;
}
