html {
}

a img {
  border: none;
  -ms-interpolation-mode: bicubic;
}


body {
  margin-top: 40px;
}

/* PAGE NAV */

#main-content {
  box-shadow: 0px 0px 10px #999;
}

.dropdown-menu {
  padding: 15%;
}

#header {
  background-color:#F1F1F1;
  height: 85px;
  width: 100%;
  position: absolute;
  top: 30px;
  padding: 0px;
  box-shadow: 0px 0px 10px #999;
}

#header > h1 {
  margin-left: 100px;
  margin-top: 5px;
  display: inline;
}

#header > h1 > a:hover {
  background-color: rgba(0,0,0,0);
  opacity: 0.7;
}

#logo {
  float: left;
  margin-left: 70px;
  margin-top:10px; 
  width:200px;
}

#logo:hover {
  opacity: 0.7;
}

#navLinks {
  float: left;
  margin-top: 45px;
  display: inline;
  margin-left: 30px;
}

#navLinks > a {
  text-decoration: none;
  color:#412D1C;
  font-size: 16px;
  
}

#navLinks > a:hover {
  background-color: rgba(0,0,0,0);
  color: #90bf3c;
}

/* */

#wrapper {
  margin-top: 150px;
  width: 850px;
  margin-right:auto;
  margin-left:auto;
}

a {
  color: #42b2e6;	
}

#login_filter{
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  position:fixed;
  top:0px;
  left:0px;
  z-index:1;
}

html {height:100%;}

#everything_div{
  height: 100%;
  width: 100%;
  position:fixed;
}



