
html {
}

/* fields in general */

.field, .field > *{
	width: 600px;
}
/* end field styling */

.field_small, .field_small *{
	width: 200px;
}

h1{
	font-size: 24px;
}

a img {
  border: none;
  -ms-interpolation-mode: bicubic;

}

/* .btn{
  background-color: rgb(149,192,61);	
}

*/

body {
  margin: 0px;
  padding: 0px;
  color: #333;
  height:100%;
}

/* PAGE NAV */

#header {
  background-color:#F1F1F1;
  height: 85px;
  width: 100%;
  position: absolute;
  top: 30px;
  padding: 0px;
  box-shadow: 0px 0px 10px #999;
  left: 0px;
}



#header > h1 {
  float: left;
  margin-left: 0px;
  margin-top: 5px;
  display: inline;
}

#header > h1 > a:hover {
  background-color: rgba(0,0,0,0);
  opacity: 0.7;
}

#logo {
  left: 0px;
  margin-left: 20px;
  margin-top:10px; 
  width:200px;
}


#logo:hover {
  opacity: 0.7;
}



/*
 * Filters and dummy div to make borders blend together
 */
#filters{
	position: absolute;
	margin-left: 0px;
	height: 100%;
	background-color: #F1F1F1;
	width: 240px;
	box-shadow: 0px 0px 10px #999;
	text-align:center;
}

.inactive > a:hover{
	color: gray;
}

.inactive > a{
    color: #0092D6
}

#filters > h4{
	font-weight: bold;
	margin-bottom: 30px;
	font-size: 20px;
}

#filters > ul, #filters > li{
	text-align: center;
	margin-right:1px;
	color: #0092D6;
	font-weight: bold;	
}

#filters > #title{
	padding:0px;
	margin-bottom: -16px;
	margin-top: 20px;
	font-weight: bold;
}

#dummy{
	position:absolute;
	height: 10px;
	width: 240px;
	background-color: #F1F1F1;
	z-index: 1;
	border: none;
}

.centered_watermark{
	text-align: center;
	color: #555;
}

.watermark{
	text-align: center;
	
}

.centered{
	margin-left: auto;
	margin-right: auto;
}

a.dismiss_all{
	font-weight: bold;
	color: black;
	
}

a.dismiss_all:hover{
	color: black;
}

p.form_error{
	text-align:center;
	position: absolute;
	background-color: white;
	width: 597px;
	margin-top: 2px;
	margin-left: 1px;
	z-index:1;
	font-size: 14px;

}



#img_error{
	height: 33px;
	margin-top: -3px;
}


#navLinks {
  float: left;
  margin-top: 45px;
  display: inline;
  margin-left: 60px;
}

#navLinks > a, #login_container > a {
  text-decoration: none;
  color:#412D1C;
  font-size: 16px;
  
}

#navLinks > a:hover, #login_container > a:hover {
  background-color: rgba(0,0,0,0);
  color: #90bf3c;
}

#login_container{
	display:inline;
}

/* */

#wrapper {
  position: absolute;
  margin-top: 150px;
  width: 850px;
  margin-right:auto;
  margin-left:auto;
  left: 280px;
}

// a {
//  color: #42b2e6;	
// }

.label > a{
	color: white;
}

#login_filter{
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  position:fixed;
  top:0px;
  left:0px;
  z-index:1;
}

html {height:100%;}

#everything_div{
  height: 100%;
  width: 100%;
  position:fixed;
}



*{
 font-family: 'Trebuchet MS', Helvetica, sans-serif;	
}

.actions{
  min-height: 34px;
}

.text_centered, #text-centered{
  text-align: center;
}

#notice_container{
	text-align: center;
}



