input[type="submit"]{
	float:left;
}

.header {
  border-bottom:1px solid black;
  overflow:hidden;
}

h1 {
  float:left;
  margin:0px;
  padding:0;

}

.header_right {
  float:right;
  margin:0px;
  padding:0px;
  font-size:20px;
}

.profile_pic {
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;	
}

.bio {
	padding-right:5px;
}

.profile_body_container {
   	overflow: hidden; /* add this to contain floated children */
	background-color:#EEEEEE;
   	padding-top:5px;
	padding-bottom:5px;
}
.profile_body_left {
    float:left; /* add this */
    
}
.profile_body_right {
    float: left; /* add this */
}

.profile_body_left > img{
	height: 100px;
	width: 100px;
}

.description{
	display: inline;
}

.profile-tags > .label{
	font-size: 14px;
	margin-left: 3px;
}

.follow_edit_link { color: white; }
a.follow_edit_link:hover, a.follow_edit_link:active, a.follow_edit_link:visited { color: white; }

#complete_profile_submit{
	margin-left: 385px;
}


/* Styles for /followers and /following pages
 * (lists of users being followed and followers) */
.follow_user_name{
	
}

.follow_user_bio{
	
}

.follow_user_info{
	position: absolute;
	top: -20px;
	left: 130px;	
}

.follow_user{
	border-bottom: 1px solid #CCC;
	width: 600px;	
	padding-bottom: 20px;
	margin-bottom: 40px;
	position: relative;
}

.follow_link, .unfollow_link{
	width: 100px;
	margin-bottom: 20px;	
}

#follow_heading{
	margin-bottom: 50px;	
	width: 331px;	
}

/* End follower/following styles */

