<!DOCTYPE html>
<html>


<head>
  <title>Ideagarden</title>
  	<link rel="canonical" href="http://ideagarden.herokuapp.com/opengraph_object/1/" />	  
	<meta property="fb:app_id"          content="480121678734920" /> 
	<meta property="og:type"            content="ideagarden-dev:project_idea" /> 
	<meta property="og:url"             content="http://ideagarden.herokuapp.com/opengraph_object/1"  /> 
	<meta property="og:title"           content="test title" /> 
	<meta property="project_idea:pitch"    content="test pitch" /> 



  
</head>
