<!DOCTYPE html>
<html>


<head>
  <title>Ideagarden</title>
  <% if request.original_url.index("opengraph_object") != nil%>	  
	<meta property="fb:app_id"          content="<%=ENV["FACEBOOK_APP_ID"]%>" /> 
	<meta property="og:type"            content="ideagarden:project_idea" /> 
	<meta property="og:title"           content="<%=@idea_posting.name%>" /> 
	<meta property="ideagarden:pitch"    content="<%=@idea_posting.pitch%>" />
  <%end%> 



  
</head>
